Repository openstack/tripleo-ci: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, openstack-tox-pep8, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

tripleo-ci-dsvm:
  description: 'Base job template for TripleO jobs that leverage devstack-gate/dsvm
  
    '
  parent: legacy-dsvm-base
  pre-run: playbooks/nodepool-provider/pre.yaml
  vars:
    unbound_cache_min_ttl: 900
  required-projects:
  - git.openstack.org/openstack-infra/devstack-gate
  ...

tripleo-ci-dsvm-multinode:
  description: 'Base legacy job for multinode tripleo jobs.
  
    Ensures the firewall allows all traffic between test nodes.
  
    '
  parent: tripleo-ci-dsvm
  roles:
  - zuul: openstack-infra/zuul-jobs
  pre-run: playbooks/multinode-networking/pre.yaml

tripleo-buildimage-ironic-python-agent-centos-7:
  parent: tripleo-ci-base
  run: playbooks/tripleo-buildimage/run-v3.yaml
  post-run: playbooks/tripleo-buildimage/post.yaml
  timeout: 4200
  nodeset: single-centos-7-node
  required-projects:
  - git.openstack.org/openstack/diskimage-builder
  - git.openstack.org/openstack/heat-agents
  ...

tripleo-buildimage-overcloud-full-centos-7:
  parent: tripleo-ci-base
  run: playbooks/tripleo-buildimage/run-v3.yaml
  post-run: playbooks/tripleo-buildimage/post.yaml
  timeout: 4200
  nodeset: single-centos-7-node
  required-projects:
  - git.openstack.org/openstack/diskimage-builder
  - git.openstack.org/openstack/heat-agents
  ...

tripleo-buildimage-overcloud-hardened-full-centos-7:
  parent: tripleo-ci-base
  run: playbooks/tripleo-buildimage/run-v3.yaml
  post-run: playbooks/tripleo-buildimage/post.yaml
  timeout: 4200
  nodeset: single-centos-7-node
  required-projects:
  - git.openstack.org/openstack/diskimage-builder
  - git.openstack.org/openstack/heat-agents
  ...

tripleo-ci-centos-7-standalone:
  parent: tripleo-ci-base-standalone
  nodeset: single-centos-7-node
  branches: ^(?!stable/(newton|ocata|pike|queens)).*$
  vars:
    featureset: '052'

tripleo-ci-fedora-28-standalone:
  parent: tripleo-ci-base-standalone
  nodeset: single-fedora-28-node
  voting: false
  branches: ^(?!stable/(newton|ocata|pike|queens|rocky)).*$
  vars:
    environment_type: standalone
    featureset: '052'
    featureset_override:
      run_tempest: false

tripleo-ci-centos-7-standalone-upgrade:
  parent: tripleo-ci-base-standalone
  nodeset: single-centos-7-node
  voting: false
  branches: ^(?!stable/(newton|ocata|pike|queens|rocky)).*$
  vars:
    featureset: '056'
    playbooks:
    - quickstart.yml
    - multinode-standalone.yml
    - multinode-standalone-upgrade.yml
    tags:
    - standalone
  ...

Cleanup images directory recollection
  playbooks/tripleo-ci/post.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add usage instructions for standalone_environment_files
  zuul.d/README.rst
Due: none

Create tripleo-ansible-role-job template for ansible projects.
  zuul.d/ansible.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Remove non-voting jobs from the gate
  zuul.d/layout.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

vexxhost: ensure use private ip for te-broker
  scripts/vexxhost.env
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Remove legacy tripleo-ci-dsvm* jobs
  zuul.d/base.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Remove legacy multinode-networking playbook
  playbooks/multinode-networking/pre.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Adding test_white_regex to allowed overrides
  playbooks/tripleo-ci/run-v3.yaml
  zuul.d/README.rst
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Added become to losetup installation
  roles/ceph-loop-device/tasks/main.yml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

[Documentation] Move the link to the documentation.
  README.rst
  docs/TripleO-ci.rst
Due: none

[Core] Change openstack-dev to openstack-discuss.
  setup.cfg
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Use zuul src dir for tqe
  playbooks/tripleo-ci/templates/toci_gate_test.sh.j2
  toci_gate_test.sh
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Simplify regex removing capturing groups
  playbooks/tripleo-ci/run-v3.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Fix build-image job parent
  zuul.d/build-image.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Fix overcloud node log collection in ovb jobs
  playbooks/tripleo-ci/post.yaml
  playbooks/tripleo-ci/templates/toci_quickstart.sh.j2
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Revert "remove non-voting job from gate"
  zuul.d/undercloud-jobs.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add new tripleo-ci-centos-7-scenario003-standalone job
  zuul.d/layout.yaml
  zuul.d/multinode-jobs.yaml
  zuul.d/standalone-jobs.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add tempest_workers to featureset_overrides
  playbooks/tripleo-ci/run-v3.yaml
  zuul.d/README.rst
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Disable scenario003 multinode container on master
  zuul.d/multinode-jobs.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

[Configuration] Fix tox python3 overrides.
  tox.ini
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

ovb dlrn-build settings should match upstream
  toci-quickstart/config/testenv/ovb.yml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Deprecate tripleo stable/{newton,ocata} jobs
  playbooks/deprecated/README.rst
  playbooks/deprecated/pre.yaml
  zuul.d/deprecated-jobs.yaml
  zuul.d/layout.yaml
  zuul.d/multinode-jobs.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add pcsd logs
  toci-quickstart/config/collect-logs.yml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add tripleo-ci-centos-7-scenario001-standalone job
  zuul.d/multinode-jobs.yaml
  zuul.d/standalone-jobs.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add yaml* to collect-logs
  toci-quickstart/config/collect-logs.yml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Adopt use of pre-commit linting
  .ansible-lint
  .pre-commit-config.yaml
  .yamllint
  playbooks/tripleo-ci/templates/toci_quickstart.sh.j2
  scripts/bighammer.sh
  scripts/bootstrap-overcloud-full.sh
  scripts/common_functions.sh
  scripts/common_vars.bash
  scripts/compare-reviews.py
  scripts/deploy-server.sh
  scripts/deploy.sh
  scripts/generate-kill-heat.sh
  scripts/getthelogs
  scripts/metrics.bash
  scripts/mirror-server/mirror-images.sh
  scripts/mirror-server/upload.cgi
  scripts/oooq_common_functions.sh
  scripts/te-broker/destroy-env
  scripts/te-broker/testenv-worker
  scripts/to_build
  scripts/tripleo.sh
  scripts/website/README.md
  scripts/website/generate_site.sh
  test-environments/net-iso.yaml
  test-environments/network-templates/nic-configs/ceph-storage.yaml
  test-environments/scheduler-hints.yaml
  test-requirements.txt
  testenv-client
  toci-quickstart/config/collect-logs.yml
  toci-quickstart/config/testenv/multinode-rdocloud.yml
  toci-quickstart/config/testenv/ovb.yml
  toci_quickstart.sh
  tox.ini
  zuul.d/layout.yaml
  zuul.d/nodesets.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add option to run OVB jobs without te-broker
  playbooks/tripleo-ci/templates/toci_gate_test.sh.j2
  toci-quickstart/config/collect-logs.yml
  toci_gate_test.sh
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add tripleo-ci-centos-7-scenario004-standalone job
  zuul.d/multinode-jobs.yaml
  zuul.d/standalone-jobs.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add standalone scenario002 job
  zuul.d/multinode-jobs.yaml
  zuul.d/standalone-jobs.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add patchset option to compare-reviews
  scripts/compare-reviews.py
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Avoid insecure umask which breaks loading of ansible.cfg
  playbooks/tripleo-ci/run-v3.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Remove package exclusion from yum and dnf
  playbooks/tripleo-ci/run-v3.yaml
  playbooks/tripleo-ci/templates/toci_gate_test.sh.j2
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Enable tempest for fedora28 standalone
  zuul.d/standalone-jobs.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Remove noop zuul job from tripleo templates
  zuul.d/multinode-jobs.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Make scenario004-standalone job voting
  zuul.d/standalone-jobs.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Make scenario001-standalone job voting
  zuul.d/standalone-jobs.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Run log collection with debug
  playbooks/tripleo-ci/templates/toci_quickstart.sh.j2
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Update heat agent path for image building
  playbooks/tripleo-buildimage/run-v3.yaml
  playbooks/tripleo-buildimage/run.yaml
  zuul.d/build-image.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Make scenario002-standalone job voting
  zuul.d/standalone-jobs.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Make scenario003-standalone job voting
  zuul.d/standalone-jobs.yaml
Due: tripleo-ci-dsvm, tripleo-ci-dsvm-multinode, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Path conditions:
  tripleo-ci-dsvm: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^requirements.txt$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini, ^setup.*$
  tripleo-ci-dsvm-multinode: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^requirements.txt$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini, ^setup.*$
  tripleo-buildimage-ironic-python-agent-centos-7: unless all of: ^.*\.rst$, ^releasenotes/.*$
  tripleo-buildimage-overcloud-full-centos-7: unless all of: ^.*\.rst$, ^releasenotes/.*$
  tripleo-buildimage-overcloud-hardened-full-centos-7: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-tox-py27: any of: ^scripts/emit_releases_file/.*$
  openstack-tox-py35: any of: ^scripts/emit_releases_file/.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  openstack-tox-pep8: any of: ^scripts/emit_releases_file/.*$
  tripleo-ci-centos-7-standalone: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-fedora-28-standalone: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-centos-7-standalone-upgrade: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
